.container{
    width: 400px;
    height: 520px;
    margin: auto;
    border: 1px solid #000;
    border-radius: 20px;
    margin-top: 100px;
    background-color: #bf493d;
    text-align: center;
    align-content: center;
}
html, body{
    height: 100%;
}

body{
    background-color: #30401B;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.btn-dark{
    border: 1px solid #1b1d45;
    font-size: 16px;
}
.custom-navbar {
    padding: 20px 0;
    background-color: #C6933B;
}
.nav-link {
    color: white;
    font-size: 18px;
    margin: 0 8px;
}
.portal-btn {
    background-color: #411e04;
    color: white;
    border-radius: 30px;
    padding: 20px 35px;
    margin-left: 40px;
}
.portal-btn:hover {
    background-color: #411e04;
    color: white;
}
.header-line {
    height: 5px;
    background-color: #411e04;
}
.nav-item{
    margin-left: 40px;
    background-color: #411e04;
    border-radius: 40px;
    padding: 10px;
}
.nav-item:hover{
    margin-left: 40px;
    background-color: #b73d00;
    border-radius: 40px;
    padding: 10px;
}
.footer{
    background-color: #1c2331;
    color: white;
    padding: 15px 0;
    font-size: 14px;
    width: 100%;
}
.card-img-top{
    width: 300px;
    display: block;
    margin: 0 auto;
}
